:root{
  --fuente: 'Open Sans', sans-serif;
}







.card{
  color: rgb(0, 0, 0);
  padding:20px;
  box-shadow: 1px 2px 3px rgba(199, 199, 199, 0.5);
  border: 1px solid rgb(243, 243, 243);
}














/* ---------------------------------------------------- */
/* TODO:-------------------MEDIA PARA SMARTPHONE------------------ */
/* ------------------------------------------------------ */

@media only screen  and (min-width : 0px)   {  
 

  input[type=text]{
    width: 100%;
    padding: 3px;
    font-size: 18px;
  }
}  


/* ---------------------------------------------------- */
/* TODO:-------------------MEDIA PARA TABLET------------------ */
/* ------------------------------------------------------ */
@media screen and (min-width: 768px) {

}

/* --------------------------------------------------- */
/* TODO:-------------------MEDIA PARA DESKTOP------------- */
/* --------------------------------------------------- */
@media screen and (min-width: 1024px) {

 

}
































































